@import 'bootstrap/_variables';
.banner {
    position:relative;
    .banner-img {
        width:100%;
        height:500px;
    }
    .banner-text {
        position:absolute;
        top:100px;
        right:100px;
        margin: auto;
        width:500px;
        height: auto;
        color:$body-bg;
        background-color: $brand-danger;
        padding: 20px;
        font-family: $font-family-monospace;
    }
}
@media screen and (max-width:767px)
{
    .banner {
        .banner-text {
            position:absolute;
            top:50px;
            right:0px;
            margin: auto;
            width:100%;
            height: auto;
            color:$body-bg;
            background-color: $brand-danger;
            padding: 10px;
            font-family: $font-family-monospace;
        }  
    }
}